body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background-gradient: linear-gradient(to left, #7275a4, #4a4872, #302d4a);
  --blue-gradient: linear-gradient(135deg, #5566bf, #5a7db0, #6fb4c2);
  --pink-gradient: linear-gradient(135deg, #fb8ca6, #d78ad4, #bd87ea);
  --orange-gradient: linear-gradient(135deg, #db64a7, #e597a1, #cfb17d);
  --white: rgba(240, 240, 240, 1);
  --white-grey: rgb(209, 209, 209, 0.7);
  --grey: rgb(160, 160, 160, 1);
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--background-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-table {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 450px;

  .alpha,
  .beta,
  .omega {
    flex: 1;
    height: 100%;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    border-radius: 12px;
  }

  h2 {
    text-align: center;
    position: relative;

    &::after {
      width: 20px;
      height: 3px;
      border-radius: 1.5px;
      background-color: var(--white);
      content: "";
      position: absolute;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .price {
    position: absolute;
    color: rgb(209, 209, 209, 0.12);
    width: 100%;
    font-size: 350px;
    top: 30px;
    text-align: center;
    font-weight: 900;
    span {
      font-size: 50px;
      position: absolute;
      top: 60px;
      left: 10px;
    }
  }
}

.alpha {
  background: var(--blue-gradient);
}

.beta {
  background: var(--pink-gradient);
}

.omega {
  background: var(--orange-gradient);
}

.feature {
  width: 80%;
  margin: 0 auto;
  h3 {
    color: var(--white-grey);
    font-weight: 400;
  }
  span {
    color: var(--white);
  }

  .progress {
    background-color: rgba(black, 0.7);
    width: 100%;
    height: 30px;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 8px 16px 5px rgba(black, 0.2);

    &.one::after {
      position: absolute;
      content: "";
      background: var(--pink-gradient);
      height: 100%;
      width: 80%;
      border-radius: 15px;
    }

    &.two::after {
      position: absolute;
      content: "";
      background: var(--orange-gradient);
      height: 100%;
      width: 50%;
      border-radius: 15px;
    }
  }
}

.large-feature {
  text-align: center;
  p {
    margin: 0;
  }
  h3 {
    padding: 20px 0;
    font-size: 40px;
    font-weight: 500;
  }
}

.continue {
  display: flex;
  justify-content: center;

  button {
    z-index: 15;
    width: 80%;
    padding: 15px;
    border-radius: 25px;
    border: none;
    color: var(--grey);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 12px 3px rgba(black, 0.2);
    .icon {
      font-size: 12px;
      margin-left: 10px;
    }
  }
}
